.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* column-gap: 20px; */
  /* row-gap: 20px; */
  gap: 20px;
}

.content {
  background-color: greenyellow;
  border: 1px solid gold;
  padding: 10px;
  text-align: center;
}
